.social-container {
	padding-left: 15vh;
	padding-right: 5vh;
	display: flex;
	flex-direction: column;
}

.search-container {
	margin: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-input {
	width: 50vw;
	background: #FFFFFF;
	border: 3px solid #00ADB5;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 1%;
	margin-right: -1%
}

.grid-container {
	padding: 0 15vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.search-button {
	font-size: 1rem;
	background: #00ADB5;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	padding: 1.05% 2%;
}