@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    position: relative;
    width: 100vw;
    height: 1024px;

    background: linear-gradient(0deg, #384259, #384259);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .navbar{
    position: absolute;
    width: 100px;
    height: 1024px;
    left: 0px;
    top: 0px;
} */

.timeline{
    position: absolute;
    width: 50vw;
    height: 97px;
    left: 40vw;
    top: 54px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    text-align: right;

    color: #FFFFFF;

}

.garis{
    position: absolute;
    width: 600px;
    height: 25px;
    left: 100px;
    top: 70px;

    background: #181D31;
}

.kotak{
    position:relative;
    width: 1081px;
    height: 311px;
    margin: 50px;

    background: #181D31;
    box-shadow: -8px 6px 4px rgba(0, 173, 181, 0.2);
    border-radius: 10px;
}

.kotak_kecil{
    position: absolute;
    width: 90%;
    height: 40%;
    left: 5%;
    top: 50%;
    
    background: #384259;
    box-shadow: -8px 6px 4px rgba(0, 173, 181, 0.2);
    border-radius: 10px;
}

.container{
    position: relative;
    top: 200px;
    margin: 10px;
}

.kotak_kecil h2{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

.judul{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
    
    position: absolute;
    margin-top: 10%;
    margin-left: 5%

}

.tanggal{
    position: absolute;
    margin-top: 1%;
    margin-left: 88%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #FFFFFF;

}

.jam{
    position: absolute;
    margin-top: 3%;
    margin-left: 91.8%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #FFFFFF;

}


.kotak_kecil p{
    font-family: "Poppins";
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
}

.identitas {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 40px;
    top: 20px;

    background: url(https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop);
    border-radius: 180px;
}

.identitas p{
    position: absolute;
    margin-top: 1%;
    margin-left: 100%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #FFFFFF;
}
