.main{
    width: auto;
    margin-left: 10vh;
    padding: 10%;
}

.chatBox{
    width: 500px;
    height: 50vh;
    background-color: #efefef;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: darkgreen solid 1px;
    border-radius: 15px;
}

.riwayatChat{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sent,
.receive{
    margin-bottom: 10px;
    padding: 5px;
}

.sent{
    margin-right: 2%;
    max-width: 50%;
    align-self: flex-end;
    background-color: lightgreen !important;
}

.receive{
    margin-left: 2%;
    max-width: 50%;
    align-self: flex-start;
    background-color: azure !important;
}

.bottomChat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
}

.messageBox{
    min-width: 90%;
    max-width: 90%;
    height: 20vh !important;
    max-height: 30px;
    align-self: center;
    padding-left: 1%;
    border-radius: 5px;
}

.sendBox{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgreen;
    display: flex;
}

.sendBox a{
    transform: translate(50%, 20%);
}

.sendBox a:hover{
    color: black;
}