body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }
/*
#maudy_ayunda {
	top: 321px;
	left: 465px;
	width: 309px;
	height: 72px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 36px;
	text-align: right;
	color:#222831;
}


#sma_british_international_school {
	top: 378px;
	left: 481px;
	width: 300px;
	height: 81px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	font-style: italic;
	text-align: left;
	color:#222831;
}


#__basketball__music__vibes {
	top: 449px;
	left: 481px;
	width: 259px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	font-style: italic;
	text-align: left;
	color:#222831;
}


#taken_by_tom {
	top: 413px;
	left: 481px;
	width: 300px;
	height: 81px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	font-style: italic;
	text-align: left;
	color:#222831;
}


#hello__i_am_a_music_enthusiastic__let_s_connect_ {
	top: 299px;
	left: 922px;
	width: 393px;
	height: 304px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 24px;
	text-align: left;
	color:#181D31;
}



#juara_1_osn_bidang_matematika_tingkat_kabupaten {
	top: 810px;
	left: 215px;
	width: 1085px;
	height: 62px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 24px;
	text-align: left;
	color:#000000;
}


#juara_1_palang_merah_remaja_tingkat_provinsi {
	top: 927px;
	left: 215px;
	width: 1085px;
	height: 62px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 24px;
	text-align: left;
	color:#000000;
}


#olimpiade_sains_nasional_yang_diselenggarakan_oleh_dinas_pendidikan_di_sma_negeri_1_jakarta_pada_tanggal_24_april_2020 {
	top: 851px;
	left: 215px;
	width: 1133px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	font-style: italic;
	text-align: left;
	color:#000000;
}


#lomba_palang_merah_remaja_tahunan_yang_diselenggarakan_oleh_sma_negeri_2_jogjakarta {
	top: 959px;
	left: 215px;
	width: 1082px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	font-style: italic;
	text-align: left;
	color:#000000;
}


#try_out_eduka_juli_2021 {
	top: 1205px;
	left: 215px;
	width: 1085px;
	height: 62px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#jadi_burhan {
	top: 1245px;
	left: 215px;
	width: 1082px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	font-style: italic;
	text-align: left;
	color:#000000;
}
 
#panitia_wisuda_juli_hmif_tahun_2021 {
	top: 1320px;
	left: 215px;
	width: 1085px;
	height: 62px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#divisi_video_performance___talent {
	top: 1360px;
	left: 215px;
	width: 1082px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	font-style: italic;
	text-align: left;
	color:#000000;
}
*/
#Profil_Picture {
	top: 321px;
	left: 215px;
	width: 236px;
	height: 251px;
}